* {
    margin: 0;
    padding: 0;
}

/* layout */


#area-cabecalho{
    background-color: #0ce9e2;
    padding: 15px;
    text-align: center;
    background: linear-gradient(#0ce9e2, #0166e1);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.411);
}

#area-menu {
    padding-top: 25px;
}

a {
    padding: 4px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 4px;
    font-family: 'Ranchers', cursive;
}

#area-cabecalho a:hover {
    background: #0cd3cc;
    color:black;
    border-radius: 25px;
    transition: 0.8s;
}

/* area de postagens*/

body{
    background: #bfd6e0;
}


.titulo {
    text-align: center;
    padding: 15px;
}

#conteudos .conteudo-esquerdo {
    width: 180px;
    float: left;
    padding-left: 10px;
    border-right: 1px solid #fff;
}

#conteudos .conteudo-esquerdo img {
    width: 180px;
}

#conteudos .conteudo-direito img {
    width: 180px;
}

#conteudos .conteudo-direito {
    width: 180px;
    float: left;
}

#conteudos .conteudo-direito h3,p {
    padding: 0 0 5px 5px;
}

#conteudos .conteudo-esquerdo h3,p {
    padding: 0 0 5px 5px;
}